[ ca ]
default_ca = {{variables.default_ca}}

[ crl_ext ]
# issuerAltName=issuer:copy  #this would copy the issuer name to altname
authorityKeyIdentifier=keyid:always

[ {{variables.default_ca}} ]
new_certs_dir = /tmp
unique_subject = no
certificate = {{variables.root_cert_path}}
database = {{variables.certificate_database_path}}
private_key = {{variables.private_key_path}}
default_days = {{variables.default_days}}
serial = {{variables.serial_file_path}}
default_md = sha1
policy = policy
x509_extensions = extensions

[ policy ]
commonName = supplied
stateOrProvinceName = supplied
countryName = supplied
emailAddress = optional
organizationName = supplied
organizationalUnitName = optional

[ extensions ]
basicConstraints = CA:false
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always
keyUsage = digitalSignature,keyEncipherment
extendedKeyUsage=serverAuth,clientAuth