#!/bin/bash
touch {{variables.certificate_database_path}} &&
echo 000a > {{variables.serial_file_path}}
# Generate the root certifiicate and private key
openssl req -newkey rsa:2048 -days {{variables.default_days}} -x509 -nodes \
    -out {{variables.root_cert_path}} -keyout {{variables.private_key_path}} &&
# generate the csr and the server key
openssl req -newkey rsa:1024 -nodes -out {{variables.csr_path}} \
     -keyout {{variables.key_path}} &&
# generate the self signed certificate
openssl ca -batch -config {{variables.configuration_path}} -notext -in {{variables.csr_path}} \
    -out {{variables.cert_path}}