[Unit]
Description=consul servier
Requires=network-online.target
After=network-online.target

[Service]

User=consul
Group=consul

Restart=on-failure
ExecStart=/usr/local/bin/consul agent  --syslog -server -config-dir /etc/consul.d/ -data-dir /tmp/consul -ui 
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target